<style type="text/css">
*{
	padding: 0;
	margin: 10px;
}
/*footer{
	position: fixed;
	left: 0px;
	bottom: 0px;
	height: 60px;
	width: 100%;
}*/
#section{
	height: 1040px;
	width: 100%;
}
#section1{
	height: 640px;
	width: 100%;
}
#section2{
	height: 540px;
	width: 100%;
}
#span{
	color: #F2CA52;
}
#span1{
	color: #F2CA52;
}
#span2{
	color: #ffffff;
}
#span3{
	color: #F2CA52;
}
#span4{
	color: #F2CA52;
}
#span5{
	color: #96C7ED;
}
#span6{
	color: #FF5675;
}
#span7{
	color: #5F4B8B;
}
a {
	text-decoration: none;
	font-weight: bold;
	font-size: 20px;
	color: #ffffff;

}
/*#a {
	text-decoration: none;
	font-weight: bold;
	font-size: 20px;
	color: #000000;

}
#a:visited{
	text-decoration: none;
}
#a:hover{
	color: #558abb;
	text-decoration: none;
}
#a:active{
	color: #558abb;
	text-decoration: none;
}
*/
a:visited{
	text-decoration: none;
}
a:hover{
	color: #558abb;
	text-decoration: none;
}
a:active{
	color: #558abb;
	text-decoration: none;
}
ul{
	list-style: none;
}
#p1{
	text-align: left;
	font-weight: bold;
	font-size: 30px;
	color: #1E3269;
}
#p2{
	text-align: right;
	font-weight: bold;
	font-size: 30px;
	color: #FF5675;
}
#p3{
	text-align: left;
	font-weight: bold;
	font-size: 30px;
	color: #5F4B8B;
}
#p4{
	text-align: left;
	font-weight: bold;
	font-size: 30px;
	color: #F2CA52;
}
#p5{
	text-align: right;
	font-weight: bold;
	font-size: 30px;
	color: #1E3269;
}
#p6{
	text-align: left;
	font-weight: bold;
	font-size: 30px;
	color: #FF5675;
}
#iframe{
	/*background-color: #8C8C8C*/
	border-style: none;
}
#iframA{
	border-style: none;
}
#imgA{
	text-align: center;
}
#h1{
	text-align: right;
	color: #ffffff;
}
#h3{
	text-align: center;
	font-weight: bold;
	font-size: 30px;
	color: #F2CA52;
}
#h31{
	text-align: center;
	font-weight: bold;
	font-size: 30px;
	color: #FF5675;
}
#h32{
	text-align: center;
	font-weight: bold;
	font-size: 30px;
	color: #96C7ED;
}
#h33{
	text-align: center;
	font-weight: bold;
	font-size: 30px;
	color: #5F4B8B;
}
#h5{
	text-align: right;
}
#h51{
	text-align: center;
	font-size: 20px;
	color: #ffffff;
}
#h6A{
	text-align: center;
	color: #ffffff;
	font-weight: bold;
	font-size: 20px;
}
#h6{
	text-align: center;
	font-size: 20px;
	color: #ffffff;
}
#img{
	float: right;
	margin: 10px;
	margin-top: 0px;
}
#img1{
	text-align: left;
	margin: 50px;
}
#img2{
	text-align: right;
	margin: 50px;
}
#img3{
	text-align: left;
}
.header{
	text-align: center;
	width: 110px;
	height: 60px;
	margin: 30px;
	font-size: 20px;
	font-weight: bold;
	color: #ffffff;
	border: solid 5px #F2CA52;
	border-radius: 80px / 30px;
}
.headerA{
	text-align: center;
	font-size: 30px;
	margin: 5px;
	font-weight: bold;
	color: #ffffff;
}
#nav{
	float: left;
	height: 100px;
	margin-left: 10px;
}
#top{
	float: right;
	margin: 30px 20px 0 0;
}
#address{
	float: right;
	font-weight: bold;
	color: #282828;
}
#email{
	float: left;
	font-weight: bold;
	color: #282828;
}
.clear {
	clear: both;
}
#page{
	width: 1020px;
	margin: auto;
	border: solid 1px #ffffff;
	background: linear-gradient( 5deg,  #F2CA52 40% , #8C8C8C 60% );
}
#page1{
	width: 1020px;#F2CA52
	height: 1000px;
	margin: auto;
	border: solid 0px #cccccc;
	background-color:#000000;
}
#page2{
	width: 1020px;
	margin: auto;
	border: solid 1px #ffffff;
	background: linear-gradient( 5deg,  #96C7ED 40% , #1E3269 60% );
}
#page3{
	width: 1020px;
	margin: auto;
	border: solid 1px #ffffff;
	background: linear-gradient( 5deg,  #FF5675 40% , #FFCFDA 60% );
}
#page4{
	width: 1020px;
	margin: auto;
	border: solid 1px #ffffff;
	background: linear-gradient( 5deg,  #5F4B8B 40% , #F592BB 60% );
}
form {
	color: #ffffff;
	margin-top: 10%;
    margin-left:40%;
    width: 400px;
    padding: 1em;
    border: 1px solid #F2CA52;
    border-radius: 1em;
	}
form div + div {
    margin-top: 1em;
	}
label {
    display: inline-block;
    width: 90px;
    text-align: right;
	}
input{
    font: 1em sans-serif;
    width: 300px;
    box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #999;
	}
.button {
    padding-left: 90px;
	}
button {
    margin-left: .5em;
	}